body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;
}

.nav__link {
  margin-left: 20px;
}

.pagination {
  margin-top: 50px;
  text-align: center;
  > a {
    padding: 5px 10px;
    text-decoration: none;
  }
}

.tag + .tag {
  margin-left: 20px;
}

.disqus-content {
  margin-top: 50px;
}
